# Python not-source files
__pycache__/
# на случай вставок py2-кода:
*.py[cod]

# Файлы виртуального окружения
env/*
env-*/
venv/*
Python34/*
/.python-version

# Тестовая бд. Не включается в репозиторий, чтобы не разрешать конфликты в бинарном файле.
# Для синхронизации данных между разработчиками лучше использовать функции manage.py -- loaddata & dumpdata
/db.sqlite3

# IDE files
/.idea/
*~

# Git-файлы orig создаются при различных "откатах"
*.orig


# Серверные "штучки" #

# static-файлы на сервере -- перетираются командой ./manage.py collectstatic
/static/

# Файлы media (пути к ним хранятся в БД).
/media/*

# Исключаем также логи
*.log

# Бинарные файлы .mo генерируются из файлов .po на этапе деплоя. Включать их в проект не желательно!
*.mo

service/static/service/js/build

# файловый кеш
/_django_file_cache/