.hero
  background: #e0d6d4 url('../image/hero/hero-bg.jpg') no-repeat center top 80px
  background-size: cover
  padding-top: 120px
  padding-bottom: 270px
  text-align: right
  &__title
    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    display: block
    margin-bottom: 67px
    font-size: 30px
    +bold
